<mat-sidenav-container class="sidenav-container">
    <mat-sidenav
      #drawer
      class="sidenav"
      fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false"
    >
      <mat-toolbar>
        <!-- <mat-icon>person</mat-icon> -->
        <img mat-card-image src="assets/image/logo-1.png" class="prodImg circle" alt="Product Image">
      </mat-toolbar>
  
      <mat-nav-list>
         <a
          mat-list-item
          routerLinkActive="activeLink"
          routerLink="/home/dashboard"
          class="theme-color font-size-14"
          ><mat-icon>hotel</mat-icon>
          &nbsp;Manage Hotels </a
        >
   </mat-nav-list>
  
     
    </mat-sidenav>
    <mat-sidenav-content class="white-background-color">
      <mat-toolbar class="theme-background-color">
        <div class="container-fluid">
          <div class="row">
            <div class="col-6">
              <button
                type="button"
                class="white-color"
                aria-label="Toggle sidenav"
                mat-icon-button>
                <mat-icon aria-label="Side nav toggle icon">menu</mat-icon> &nbsp;
              </button>
            </div>
  
            <div class="col-6 text-end">
              <img
                  src="assets/image/pp.webp"
                class="img cursor"
                alt=""
              />
  
              <!-- <button
                 mat-mini-fab
                class="white-background-color theme-color"
                aria-label="Example icon button with a menu icon">
                
              </button> -->
  
              <mat-menu >
                <button routerLink=" " mat-menu-item>
                  <mat-icon class="cursor">password</mat-icon> &nbsp; Change
                  Password
                </button>
                <button (click)="logout()" mat-menu-item>
                  <mat-icon class="cursor">logout</mat-icon> &nbsp; Logout
                </button>
              </mat-menu>
            </div>
          </div>
        </div>
  
        <span></span>
      </mat-toolbar>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>